.noscroll {
  overflow: hidden;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.25s linear;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.2s, opacity 0.2s linear;
}

body {
  margin: 0;
  background-color: rgb(31,36,38);
  color: white;
  display: flex;
}

nav {
  float: left;
  min-width: 225px;
  width: 15%;
  height: 100vh;
  font-family: "Segoe UI","HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
  transition: 0.5s;
  overflow-x: hidden;
}

nav-header {
  display: flex;
  justify-content: space-between;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 5px;
  margin-right: 15px;
}

nav h3 {
  margin: 0;
}

nav-list {
  overflow-x: hidden;
}

nav-list-wrapper {
  position: fixed;
  margin-top: 4px;
  overflow-y: scroll;
  overscroll-behavior-y: contain;
  height: calc(100% - 47.55px);
  width: 15%;
  min-width: 225px;
}

nav-sublist {
  display: inherit;
}

nav-sublist.visible {
  height: auto;
  transition: height 0.25s linear;
}

nav-sublist.hidden {
  height: 0;
  overflow: hidden;
  transition: visibility 0s 0.2s, opacity 0.2s linear;
}

nav-group, nav-item {
  color: lightgray;
  margin-left: 20px;
  margin-bottom: 4px;
  display: block;
}

nav-item, nav-title {
  text-decoration: none;
}

nav-item:hover, nav-title:hover {
 color: white;
 font-weight: 600;
 cursor: pointer;
}

.selected, #current-doc {
  color: white;
  font-weight: 600;
}

.selected::before, #current-doc::before {
  content: '\203A';
  margin-right: 6px;
  margin-left: -10px;
}

menu-btn:hover {
  cursor: pointer;
}

menu-btn bar {
  display: block;
  width: 24px;
  height: 2px;
  background-color: lightgray;
  margin: 4px 0;
}

menu-btn:hover bar {
  background-color: white;
}

voyager-explorer {
  width: 100%;
  height: 100%;
}

#explorer-wrapper {
  float: left;
  position: relative;
  height: 100vh;
  flex-grow: 1;
}
